@use "../../css/colors";

%itemBorder {
    border: 1px solid;
    border-radius: 8px;
    padding: 12px;
}

.myItem {
    margin-top: 8px;

    &:hover {
        @extend %itemBorder;
        border-color: gray;
    }
}

.selectedItem {
    @extend %itemBorder;
    border-color: colors.$color-secondary;
}

.myItemDescription {
    margin-left: 16px;
}
