@use "colors";

button {
    margin-right: 12px;
}

.navBar {
    background: colors.$color-primary;
    height: 64px;
    padding: 12px;
    display: flex;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
