@use "../../css/colors";
@use "../../css/dimens";

.sideBar {
    position: fixed;
    top: dimens.$navBar-height;

    height: 100vh;
    width: dimens.$sidebar-width;
    min-width: dimens.$sidebar-width;
    padding: dimens.$sidebar-padding;

    display: flex;
    flex-direction: column;

    background: colors.$color-primary-highlight;
    border-right: 8px solid;
    border-color: colors.$color-primary;
}
