@use "../../css/colors";
@use "../../css/dimens";

.sideBar {
    position: fixed;
    transition: margin .3s;

    height: 100vh;
    width: dimens.$sidebar-width;
    min-width: dimens.$sidebar-width;
    padding: dimens.$sidebar-padding;

    display: flex;
    flex-direction: column;

    background: colors.$color-primary-highlight;
    border-right: 8px solid;
    border-color: colors.$color-primary;

    .sideBarLink {
        padding-top: 16px;
        color: colors.$color-secondary;
    }

    #expandCollapse {
        height: 48px;
        width: 48px;
        align-self: flex-end;
        position: absolute;
        bottom: dimens.$sidebar-padding;
    }

    #sideBarCurrentPet {
        margin-top: dimens.$navBar-height;
    }
}

#popoverWellbeing {
    .arrow {
        display: none;
    }
}

.closed {
    margin: 0 0 0 -180px;
}
