@use "../../css/colors";

.modal-content {
    background-color: #00000000;
    border: 0;
}

.login-buttons {
    button {
        width: 160px;
        margin-left: 8px;
        margin-right: 8px;
    }
}
