$color-primary: #fb8500;
$color-highlight: #ffb703;

$color-background: #8ecae6;

$primary: $color-primary;
$secondary: $color-highlight;
$body-bg: $color-background;

.modal-content {
    background-color: #00000000;
    border: 0;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
